.form{
  margin: 0px auto;
  border-radius: 3px 3px 0 0;
  overflow-y: hidden;
background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
mat-slider{
  height: 30px;
  min-width: 185px;
}

