<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
  Новая Задача
        </mat-panel-title>
      </mat-expansion-panel-header>
<form (submit)='createTask()'>
  <p>
    <mat-form-field >
      <mat-select placeholder="Стадии" [formControl]="taskParent_id" >

      <mat-option *ngFor="let stage of stages;" value="{{stage.id}}">{{stage.name}}</mat-option>
    </mat-select>
    </mat-form-field>
  </p>

  Приоритет:<p>
    <mat-slider   thumbLabel [displayWith]="formatLabel" min="1" max="100" tickInterval="1" value="1" [formControl]="taskPriority"></mat-slider>
</p>


  <p>
    <mat-form-field>
      <input  placeholder="Имя" matInput [formControl]="taskName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <textarea placeholder="Описание" matInput [formControl]="taskDescription"></textarea>
    </mat-form-field>
  </p>

  <p>
  <button mat-stroked-button  type="submit">Создать</button>

  </p>


</form>
  </mat-expansion-panel>
    </mat-accordion>

