<div class="form">
  Новая Задача
<form (submit)='createTask()'>
  <p>
    <mat-form-field >
      <mat-select placeholder="Стадии" [formControl]="taskParent_id" >

      <mat-option *ngFor="let stage of stages;" value="{{stage.id}}">{{stage.name}}</mat-option>
    </mat-select>
    </mat-form-field>
  </p>
  Приоритет:

    <mat-slider  thumbLabel [displayWith]="formatLabel" min="1" max="100" tickInterval="1" value="1" [formControl]="taskPriority"></mat-slider>



  <p>
    <mat-form-field>
      <input  placeholder="Имя" matInput [formControl]="taskName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field title="Описание">Описание:
      <textarea placeholder="Описание" matInput [formControl]="taskDescription"></textarea>
    </mat-form-field>
  </p>

  <p>
  <button mat-stroked-button  type="submit">Создать</button>

  </p>


</form>
</div>
