.task{
  font-size: 10pt;
  border: 0px;
  box-sizing: border-box;
  padding: 10px;
  font-weight: normal;
  border-radius: 10px 10px 10px 10px;
  width: auto;
  background: bisque;
  height: auto;
  margin-top: 10px;
  max-width: 400px;
}
.mat-card-header{
  flex-direction: column;
}
